.header{
    background-color: var(--bg-header);
    color: var(--white);
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px; /* Igual que el .container global que definimos */
    margin-left: 0;
}

.site-title{
    font-family: var(--font-logo);
    font-size: 2.4rem;
    margin: 0;
}

.site-title .learn {
    color: var(--cyber-green);
}